NOW-PDF/*
.vscode/*
PDF_OCR_Reader/__pycache__/*
Pipfile
PDF_OCR_Reader.zip
PDF_OCR_Reader/z_test_data.py
PDF_OCR_Reader/z_test_pdf_ocr_reader.py
PDF_OCR_Reader-4-29.zip
Expression/__pycache__/*
Expression/__pycache__
__pycache__/*
__pycache__
page_1.jpg
